@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary text-primary;
  }
  input::placeholder {
    @apply text-primary;
  }
  .h2 {
    @apply font-primary text-[45px] mb-4;
  }
  .h3 {
    @apply text-2xl font-primary font-semibold tracking-[1px] mb-2;
  }
  .btn {
    @apply text-[15px] tracking-[3px] font-tertiary uppercase text-white flex-1 transition-all px-8 flex justify-center items-center;
  }
  .btn-sm {
    @apply h-[48px];
  }
  .btn-lg {
    @apply h-[60px];
  }
  .btn-primary {
    @apply bg-accent hover:bg-accent-hover;
  }
  .btn-secondary {
    @apply bg-primary hover:bg-accent;
  }
  .btn-white {
    @apply bg-white text-[#0a0a0a];
  }
}


/* service */
.btn-half {
  @apply cursor-pointer bg-custom-gold z-0 inline-block relative;
}
.btn-half span {
  @apply text-custom-white block pl-0 pr-6 uppercase font-semibold;
  transform: scaleX(0.9);
  transform-origin: center left;
  transition: color 0.3s ease;
  position: relative;
  z-index: 1;
}
.btn-half em {
  position: absolute;
  height: 1px;
  background: #fff;
  width: 15%;
  right: 23px;
  top: 50%;
  transform: scaleX(0.25);
  transform-origin: center right;
  transition: all 0.3s ease;
  z-index: 1;
}
.btn-half:before,
.btn-half:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.2);
  height: 50%;
  width: 0;
  position: absolute;
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.btn-half:before {
  top: 0;
  left: 0;
  right: auto;
}
.btn-half:after {
  bottom: 0;
  right: 0;
  left: auto;
}
.btn-half.site-button:hover {
  background-color: #262423;
}
.btn-half:hover:before {
  width: 100%;
  right: 0;
  left: auto;
}
.btn-half:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.btn-half:hover span {
  color: #fff;
}
.btn-half:hover em {
  background: #fff;
  transform: scaleX(1);
}


